<app-header class="hide-desktop"></app-header>
<app-header-mobile class="hide-mobile" style="overflow-x:hidden;"></app-header-mobile>

<app-startscreen class="hide-desktop"></app-startscreen>
<app-startscreen-mobile class="hide-mobile"></app-startscreen-mobile>

<app-about class="hide-desktop"></app-about>
<app-about-mobile class="hide-mobile"></app-about-mobile>

<app-skills class="hide-desktop"></app-skills>
<app-skills-mobile class="hide-mobile"></app-skills-mobile>

<app-projects class="hide-desktop"></app-projects>
<app-projects-mobile class="hide-mobile"></app-projects-mobile>

<app-contact class="hide-desktop"></app-contact>
<app-contact-mobile class="hide-mobile"></app-contact-mobile>

<app-footer class="hide-desktop"></app-footer>
<app-footer-mobile class="hide-mobile"></app-footer-mobile>