.header-container {
    height: 713px;
    position: absolute;
    left: 321px;
    right:0;
    top:0;
    background-color: rgba(246, 246, 246, 1);
    display: flex;
    flex-direction: column;
    

    @media (max-width: 1420px) {
        height: 650px;
    }

    @media (max-width: 1280px) {
        height: 600px;
    }
}

.menu-container {
    margin-top: 60.5px;
    padding-left: 65px;
    padding-right: 115px;
    display: flex;
    justify-content: space-between;
    z-index: 2;

    a {
        text-decoration: none;
        color: black;
        font-weight: 500;
        letter-spacing: 6.33px;
        padding-left: 66px;
        cursor: pointer;

        @media (max-width: 1280px) {
            padding-left: 45px;
        }

        &:hover {
            color: rgba(254, 227, 131, 1) !important;
            background-color: black;
            padding-top: 2px;
            padding-bottom: 2px;
        }

        &:visited {
            color: black;
        }
    }
    
}

.language {
    a {
        padding-left: 10px !important;

        @media (max-width: 1280px) {
            font-size: 14px;
            padding-left: 8px;
        }
    }

    span {
        padding-left: 8px;

        @media (max-width: 1280px) {
            padding-left: 5px;
        }
    }
}

.img-sec-container {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    // background-color: aqua;

    @media (max-width: 1420px) {
        margin-top: 114px;
    }
}

.placeholder {
    width: 35%;
    // background-color: red;
    @media (max-width: 1420px) {
        width: 40%;
    }
}

.img-container {
    width: 65%;
    height: 578px;
    display: flex;
    justify-content: flex-end;
    // background-color: aqua;

    @media (max-width: 1420px) {
        width: 60%;
        height: 450px;
    }

    @media (max-width: 1280px) {
        height: 400px;
    }

    img {
        height: 100%;
        object-fit: contain;
    }
}