<div class="header-container">
    <div class="menu-container">
        <div class="link-container">
            <div><a href="#about" translate>ÜBER MICH</a></div>
            <div><a href="#skills" translate>FÄHIGKEITEN</a></div>
            <div><a href="#projects" translate>PROJEKTE</a></div>
        </div>

        <div class="language">
            <div class="trans-de-eng" (click)="translation.use('de')">
                <div>DE</div>
            </div>
            <span>|</span>
            <div class="trans-de-eng" (click)="translation.use('en')">
                <div class="trans-de-eng">EN</div>
            </div>
        </div>
    </div>

    <div class="img-sec-container">
        <div class="img-container" (mouseover)="border=true" (mouseleave)="border=false">
            <img src="assets/img/Sarah.jpg">
        </div>
    </div>
</div>

<div [class.border]="border"></div>