<div class="header-container">
    <div class="menu-container">
        <div>
            <a href="#about" translate>ABOUT</a>
            <a href="#skills" translate>SKILLS</a>
            <a href="#projects" translate>PROJECTS</a>
        </div>

        <div class="language">
            <a (click)="translation.use('de')">DE</a>
            <span>|</span>
            <a (click)="translation.use('en')">EN</a>
        </div>

    </div>

    <div class="img-sec-container">
        <div class="placeholder"></div>

        <div class="img-container">
            <img src="assets/img/Sarah.JPG">
        </div>
    </div>
</div>