<div class="contact-container" id="contact-mobile">
    <div class="text-container">
        <h2 translate>Contact</h2>
        <span translate>Now that you know a lot about me, let me know if you are interested to work with me.</span>
        <br>
        <br>
        <span translate>To support our family life I only work remote and part time.</span>
    </div>

    <div class="form-container">
        <form #myForm ngNativeValidate>
            <span>Name</span>
            <input type="text" name="name" required #nameField>
            <span>Email</span>
            <input type="email" name="email" required #mailField>
            <span translate>Message</span>
            <textarea type="text" name="message" required #messageField></textarea>
            <button #sendBtn translate>LET'S GET STARTED</button>
        </form>
    </div>
</div>
