<div class="contact-container" id="contact-mobile">
    <div class="text-container">
        <h2 translate>Kontakt</h2>
        <span translate>Sie haben ein Programmier-Problem, das gelöst werden muss?</span>
        <br>
        <br>
        <span translate>Jetzt, da Sie meine Arbeit ein wenig kennengelernt haben, lassen Sie mich wissen, wie ich Ihnen helfen kann.</span>
    </div>

    <div class="form-container">
        <form (ngSubmit)="sendMail()">
            <span>Name</span>
            <input type="text" name="name" [(ngModel)]="contactData.name" autocomplete="off">
            <span>Email</span>
            <input type="email" name="email" [(ngModel)]="contactData.email" autocomplete="off">
            <span translate>Nachricht</span>
            <textarea type="text" name="message" [(ngModel)]="contactData.message"></textarea>
            <button [disabled]="disabled" [class.disabled-btn]="disabled" [class.no-hover]="disabled"s translate>LOS GEHT'S</button>
        </form>
    </div>
</div>

<div [class.send-container]="sendingSuccess">
    <span class="info" [class.d-block]="sendingSuccess" translate>Mail was send successfully!</span>
</div>
