<div class="contact-container" id="contact-mobile">
    <div class="text-container">
        <h2>Contact</h2>
        <span>Now that you know a lot about me, let me know if you are interested to work with me.</span>
        <br>
        <br>
        <span>To support our family life I only work remote and part time.</span>
    </div>

    <div class="form-container">
        <form (submit)="sendMail()" #myForm ngNativeValidate>
            <span>Name</span>
            <input type="text" name="name" required #nameField>
            <span>Email</span>
            <input type="email" name="email" required #mailField>
            <span>Message</span>
            <textarea type="text" name="message" required #messageField></textarea>
            <button #sendBtn>LET'S GET STARTED</button>
        </form>
    </div>
</div>

<div [class.send-container]="sendingSuccess">
    <span class="info" [class.d-block]="sendingSuccess">Mail was send successfully!</span>
</div>
