<div class="title-container" id="about">
    <h2>About</h2>
</div>

<div class="text-container">
    <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti unde saepe quidem fuga praesentium, illo commodi ut consequatur provident, facilis odit, vitae sed magnam dignissimos inventore esse maiores animi laboriosam.</span>
</div>

<div class="img-container">
    <img src="assets/img/work.jpg">
</div>

<div class="info-container">
    <span class="lil-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti unde saepe quidem fuga praesentium, illo commodi ut consequatur provident, facilis odit, vitae sed magnam dignissimos inventore esse maiores animi laboriosam.</span>

    <div class="card-container">
        <div class="card">
            <span>EMAIL</span>
            <div>sarah.zimmermannschmutzler@gmail.com</div>
            <span>ROLE</span>
            <div>Frontend Developer</div>
            <span>PHONE</span>
            <div>+49 17657751907</div>
        </div>
    </div>
</div>

<div class="text-container">
    <span class="signature">Sarah Zimmermann-Schmutzler</span>
</div>