<div class="title-container" id="about">
    <h2 translate>Über Mich</h2>
</div>

<div class="text-container">
    <span translate>
        Ich bin leidenschaftliche Full-Stack-Entwicklerin aus Dresden.
        <br>
        Das faszinierende an der Programmierung ist für mich der Fakt, dass sie niemals stagniert.
        Will man als Programmierer mit ihr Schritt halten, muss man sich mit ihr zusammen weiterentwickeln.
        Deshalb reicht es mir auch nicht, Software nur zu programmieren. Ich möchte sie auch sicher betreiben können. 
        Deswegen bilde ich mich derzeit im DevSecOps Bereich weiter, um Expertise im Hinblick auf Internetsicherheit und Cloud Engineering 
        zu erlangen.
    </span>
</div>

<div class="img-container">
    <img src="assets/img/work.jpg">
</div>

<div class="info-container">
    <span class="lil-text" translate>
        Für mich hat es einen großen Reiz beim Programmieren analytisches Denken
        mit Kreativität zu verknüpfen.
        <br>
        Man erschafft mithilfe von Zahlen und Buchstaben aus einem leeren Raum eine kleine erfahrbare Welt.
        <br>
        <br>
        Programmieren ist Kunst.
        <br>
        Und was wäre das Leben ohne Kunst?
    </span>

    <div class="card-container">
        <div class="card">
            <span>EMAIL</span>
            <div>sarah.zimmermannschmutzler@<br>gmail.com</div>
            <span translate>FUNKTION</span>
            <div translate>Full-Stack-Entwicklerin</div>
            <span translate>TELEFON</span>
            <div>+49 17657751907</div>
        </div>
    </div>
</div>

<div class="text-container">
    <span class="signature">Sarah Zimmermann-Schmutzler</span>
</div>