<div class="title-container" id="about">
    <h2 translate>About</h2>
</div>

<div class="text-container">
    <span translate>Hi, my name is Sarah Lucia Zimmermann-Schmutzler.
        I'm a Frontend Developer from Dresden, Germany. I'm married and from August 2023 on I have two children. <br>
        From 2013 to 2019 I studied Health Management (B.A.) and Public Health (MPH).
        But an interesting academic subject makes no fascinating way of working.
        So I opened a new door in 2022 to learn coding professionaly and I attended the Frontend-Course of the Developer
        Akademie. <br>Coding - <strong translate>create something beautiful in an almost empty space</strong> - catches me like a fever!
        I look forward to use my knowledge in practice and improve my skills.
        That's why Frontend is not the end - I absolutely want to become also a Backend Developer.</span>
</div>

<div class="img-container">
    <img src="assets/img/work.jpg">
</div>

<div class="info-container">
    <span class="lil-text" translate> In the future maybe I can bring together my passion of coding and my academic knowledge
        about the german health care system. <br>But that's not the only subject to code for! </span>

    <div class="card-container">
        <div class="card">
            <span>EMAIL</span>
            <div class="mail">sarah.zimmermannschmutzler@<div>gmail.com</div></div>
            <span translate>ROLE</span>
            <div translate>Frontend Developer</div>
            <span translate>PHONE</span>
            <div>+49 17657751907</div>
        </div>
    </div>
</div>

<div class="text-container">
    <span class="signature">Sarah Zimmermann-Schmutzler</span>
</div>