<h2 style="padding-left: 115px; margin-top: 80px;">Projects</h2>

<div class="project-container" (click)="showInfos()">
    <img src="assets/img/projects/join.png">
    <div class="description">
        <h3>JOIN</h3>
        <span class="highlight">JavaScript | HTML | CSS</span>
        <br>
        <br>
        <span>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.</span>
    </div>
</div>

<div class="project-container" (click)="showInfos()">
    <div class="description">
        <h3>JOIN</h3>
        <span class="highlight">JavaScript | HTML | CSS</span>
        <br>
        <br>
        <span>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.</span>
    </div>

    <img src="assets/img/projects/join.png">
</div>
