<h2 class="title" id="projects" translate>Projects <span class="subtitle" translate>Feel free to try out my latest development projects or look into their code.</span></h2>

<div class="project-container">
    <img src="assets/img/projects/slack.png">
    <div class="description">
        <h3>MySlack</h3>
        <span class="highlight">Angular | Firebase | TypeScript | HTML | SCSS</span>
        <br>
        <br>
        <span translate>Instant messaging program. Coded with Angular and Firebase. </span>
        <div class="btn-container">
            <button (click)="serverSlack()">TRY</button>
            <button (click)="gitSlack()">GITHUB</button>
        </div>
    </div>
</div>

<div class="project-container">
    <div class="description">
        <h3>EL POLLO LOCO</h3>
        <span class="highlight">JavaScript | HTML | CSS</span>
        <br>
        <br>
        <span translate>Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and tabasco salsa to fight against the crazy hen.</span>
        <div class="btn-container">
            <button (click)="serverPollo()">TRY</button>
            <button (click)="gitPollo()">GITHUB</button>
        </div>
    </div>

    <img src="assets/img/projects/pollo.png">
</div>

<div class="project-container">
    <img src="assets/img/projects/join.png">
    <div class="description">
        <h3>JOIN</h3>
        <span class="highlight">JavaScript | HTML | CSS</span>
        <br>
        <br>
        <span translate>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.</span>
        <div class="btn-container">
            <button (click)="serverJoin()" translate>TRY</button>
            <button (click)="gitJoin()">GITHUB</button>
        </div>
    </div>
</div>
