<h2 class="title" id="projects" translate>Projekte 
    <span class="subtitle" translate>Testen Sie meine neuesten Projekte oder schauen Sie in den Code.</span>
</h2>


<div class="project-container">
    <img src="assets/img/projects/pollo.png">
    <div class="description">
        <h3>VIDEOFLIX</h3>
        <span class="highlight">
            Angular | JavaScript | HTML | SCSS
            <br>
            Python | Django | Django REST framework
        </span>
        <br>
        <br>
        <span translate>Video-Streaming-Seite im Stil von Netflix.</span>
        <div class="btn-container">
            <button (click)="serverVideo()" translate>TRY</button>
            <button (click)="gitVideo()">GITHUB</button>
        </div>
    </div> 
</div>

<div class="project-container">
    <div class="description">
        <h3>KenBen</h3>
        <span class="highlight">
            Angular | JavaScript | HTML | SCSS
            <br>
            Python | Django | Django REST framework
        </span>
        <br>
        <br>
        <span translate>Ein Taskmanager inspiriert vom Kanban System. Erstelle und organisiere Aufgaben und ordne sie mittels Drag and Drop verschiedenen Rubriken zu.</span>
        <div class="btn-container">
            <button (click)="serverKenben()" translate>TRY</button>
            <button (click)="gitKenben()">GITHUB</button>
        </div>
    </div>
    <img src="assets/img/projects/join.png">
</div>


<div class="project-container">
    <img src="assets/img/projects/slack.png">
    <div class="description">
        <h3>MySlack</h3>
        <span class="highlight">
            Angular | JavaScript | HTML | SCSS
            <br>
            Firebase
        </span>
        <br>
        <br>
        <span translate>Ein Kurznachrichtendienst in Echtzeit. Programmiert mit Angular und Firebase.</span>
        <div class="btn-container">
            <button (click)="serverSlack()" translate>TESTEN</button>
            <button (click)="gitSlack()">GITHUB</button>
        </div>
    </div>
</div>


