<h2 class="title" id="projects-mobile" translate>Projects</h2>

<span class="subtitle" translate>Feel free to try out my latest development projects or look into their code.</span>

<div id="projects"> </div>

<div class="project-container" *ngFor="let project of projects; let i = index; ">
    <img src="assets/img/projects/{{project['image']}}">
    <div class="description">
        <h3>{{project['title']}}</h3>
        <span class="highlight">{{project['langs']}}</span>
        <span>{{project['description']}}</span>
        <div class="btn-container">
            <button (click)="projectServer(project['tryBtn'])" translate>TRY</button>
            <button (click)="projectGit(project['gitBtn'])">GITHUB</button>
        </div>
    </div>
</div>