<h2 class="title" id="projects-mobile" translate>Projekte</h2>

<span class="subtitle" translate>Testen Sie meine neuesten Projekte oder schauen Sie in den Code.</span>

<div id="projects"> </div>

<div class="project-container" *ngFor="let project of projects; let i = index; ">
    <img src="assets/img/projects/{{project['image']}}">
    <div class="description">
        <h3>{{project['title']}}</h3>
        <span class="highlight">{{project['langsF']}}</span>
        <span class="highlight">{{project['langsB']}}</span>
        <span>{{project['description']}}</span>
        <div class="btn-container">
            <button (click)="projectServer(project['tryBtn'])" translate>TESTEN</button>
            <button (click)="projectGit(project['gitBtn'])">GITHUB</button>
        </div>
    </div>
</div>