.contact-container {
    width: 100%;
    height: 730px;
    background-color: rgba(254, 227, 131, 1);
    margin-top: -80px;
    box-sizing: border-box;
    display: flex;
}

.text-container {
    width: 55%;
    padding-left: 115px;
    padding-top: 30px;
    padding-right: 150px;
    box-sizing: border-box;
    
    h2 {
        cursor: default;

        &:hover {
            color: #f4f1e8;
        }
    }
}

.animation-container {
    width: fit-content;

    div {
        font-weight: 400;
        font-size: 18px;
        color: rgba(46, 46, 46, 1);
        height: auto;

        overflow: hidden; 
        border-right: .15em solid black;
        white-space: nowrap; 
        margin: 0 auto; 
        visibility: hidden;
    }
}

.animation {
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
    visibility: visible !important;
}

.border-away {
    border-right: none !important;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
}

.form-container {
    width: 45%;
    padding-top: 80px;
    box-sizing: border-box;

    form {
        display: flex;
        flex-direction: column;
        padding-right: 115px;

        span {
            font-weight: 400;
            color: rgba(13, 13, 12, 1);
        }

        input {
            border: none;
            height: 50px;
            margin-bottom: 40px;
            font-family: 'Poppins' !important;

            &:focus {
                outline: unset;
                border: unset;
                background-color: white !important;
            }
        }

        textarea {
            border: none;
            height: 100px;
            margin-bottom: 40px;
            font-family: 'Poppins' !important;

            &:focus {
                outline: unset;
                border: unset;
                background-color: white;
            }
        }

        button {
            padding: 24px 33px;
            gap: 10px;
            color: rgba(254, 227, 131, 1);
            background-color: rgba(15, 15, 16, 1);
            border: none;
            font-family: 'Sen';
            font-weight: 500;
            font-size: 18px;
            cursor: pointer;

            &:hover {
                font-size: 20px;
            }
        }
    }
}

.disabled-btn {
    cursor: default !important;
    color: rgba(138, 138, 138, 0.5) !important;
}

.no-hover {
    pointer-events: none;
}

.send-container {
    position: relative;
    width: 100%;
    height: 730px;
    background-color: rgba(254, 227, 131, 1);
    margin-top: -730px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: sendMail 5s ease-in-out;

    @keyframes sendMail {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }
    }
}

.info {
    display: none;
    font-size: 25px;
}

.d-block {
    display: block;
}