<div class="contact-container" id="contact" (mouseover)="startAnimation()">
    <div class="text-container">
        <h2 translate>Kontakt</h2>
        <div class="animation-container"><div translate [class.animation]="animationFirstRow" [class.border-away]="animationSecRow">Sie haben ein Programmier-Problem?</div></div>
        <br>
        <br>
        <div class="animation-container"><div translate [class.animation]="animationSecRow" [class.border-away]="animationThirdRow">Jetzt, da Sie meine Arbeit ein wenig</div></div>
        <br>
        <div class="animation-container"><div translate [class.animation]="animationThirdRow" [class.border-away]="animationFourthRow">kennengelernt haben, lassen Sie mich wissen,</div></div>
        <br>
        <div class="animation-container"><div translate [class.animation]="animationFourthRow">wie ich Ihnen behilflich sein kann.</div></div>
    </div>

    <div class="form-container">
        <form (ngSubmit)="sendMail()">
            <span>Name</span>
            <input type="text" name="name" [(ngModel)]="contactData.name" autocomplete="off">
            <span>Email</span>
            <input type="email" name="email" [(ngModel)]="contactData.email" autocomplete="off">
            <span translate>Nachricht</span>
            <textarea type="text" name="message" [(ngModel)]="contactData.message"></textarea>
            <button [disabled]="disabled" [class.disabled-btn]="disabled" [class.no-hover]="disabled" translate>LOS GEHT'S</button>
        </form>
    </div>
</div>

<div [class.send-container]="sendingSuccess">
    <span class="info" [class.d-block]="sendingSuccess" translate>Mail was send successfully!</span>
</div>