<div class="header-container">
    <img src="assets/img/logo.png">
    <img src="assets/img/icon.png" (click)="showMenu()">
    <!-- setzt Variable openMenu auf true -->
</div>

<div class="menu-container" [class.show-overlay-menu]="openMenu">
<!-- zeigt die classe nur an, wenn Variable openMenu = true -->
    <div class="close-container">
        <img src="assets/img/logo.png">
        <div>
            <span (click)="closeMenu()">X</span>
            <!-- setzt Variable openMenu wieder auf false -->
        </div>
    </div>

    <div class="link-container">
        <span (click)="showAbout()" translate>ABOUT</span>
        <span (click)="showSkills()" translate>SKILLS</span>
        <span (click)="showProjects()" translate>PROJECTS</span>
        <span (click)="showContact()" translate>CONTACT</span>
    </div>

    <div class="language">
        <a (click)="translation.use('de')">DE</a>
        <span>|</span>
        <a (click)="translation.use('en')">EN</a>
    </div>
</div>