.header-container {
    height: 70px;
    padding-right: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;

    @media (max-width: 700px) {
        padding-right: 50px;
    }

    @media (max-width: 436px) {
        padding-right: 20px;
    }

    img {
        width: 50px;
        height: 50px;
        object-fit: contain;

        @media (max-width: 700px) {
            width: 40px;
            height: 40px;
        }

        @media (max-width: 436px) {
            width: 30px;
            height: 30px;
        }
    }
}

.menu-container {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(246, 246, 246, 1);
}

.close-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 80px;
    margin-top: 20px;

    @media (max-width: 700px) {
        padding-right: 50px;
    }

    @media (max-width: 436px) {
        padding-right: 50px;
    }

    span {
        font-size: 32px;
        cursor: pointer;
    }
}