.header-container {
    height: 70px;
    padding-right: 80px;
    padding-left: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    @media (max-width: 700px) {
        padding-right: 50px;
        padding-left: 50px;
    }

    @media (max-width: 436px) {
        padding-right: 20px;
        padding-left: 50px;
    }

    img {
        width: 50px;
        height: 50px;
        object-fit: contain;

        @media (max-width: 700px) {
            width: 40px;
            height: 40px;
        }

        @media (max-width: 436px) {
            width: 30px;
            height: 30px;
        }
    }
}

.menu-container {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(246, 246, 246, 0.9);
    z-index: 3;
    transform: translateX(1100px);
    /* verschieben auf x-achse nach rechts um 1100px (ding ist max.1090px breit)*/
    transition: all 225ms ease-in-out;
}

.show-overlay-menu {
    transform: translateX(0);
}

.close-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 80px;
    padding-left: 80px;
    margin-top: 25px;

    @media (max-width: 700px) {
        padding-right: 50px;
        padding-left: 50px;
        margin-top: 46px;
    }

    @media (max-width: 436px) {
        padding-right: 20px;
        padding-left: 20px;
    }

    img {
        height: 85px;
        width: 80px;
        object-fit: contain;

        @media (max-width: 700px) {
            height: 65px;
            width: 60px;
        }

        @media (max-width: 700px) {
            height: 45px;
            width: 40px;
        }
    }


    span {
        font-size: 52px;
        cursor: pointer;

        &:hover {
            color: rgba(254, 227, 131, 1) !important;
            background-color: black;
            // padding-top: 1px;
            // padding-bottom: 1px;
            padding-left: 2px;
            padding-right: 2px;
        }

        @media (max-width: 700px) {
            font-size: 48px;
        }

        @media (max-width: 700px) {
            font-size: 32px;
        }
    }
}

.link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 200px;

    @media (max-width: 700px) {
        padding-right: 50px;
        padding-left: 50px;
    }

    @media (max-width: 436px) {
        padding-right: 20px;
        padding-left: 20px;
    }

    span {
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 6.3px;
        margin-top: 35px;
        text-decoration: none;
        color: black;
        cursor: pointer;

        &:hover {
            color: rgba(254, 227, 131, 1) !important;
            background-color: black;
        }
    }
}

.language {
    padding-left: 80px;
    padding-right: 90px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    a {
        padding-left: 10px !important;
        font-size: 18px;

        &:hover {
            color: rgba(254, 227, 131, 1) !important;
            background-color: black;
        }
    }

    span {
        padding-left: 8px;
        font-size: 18px;
    }
}