<div class="header-container">
    <img src="assets/img/logo2.png">
    <img style="cursor: pointer;" src="assets/img/menu.png" (click)="showMenu()">
    <!-- setzt Variable openMenu auf true -->
</div>

<div class="menu-container" [class.show-overlay-menu]="openMenu">
<!-- zeigt die classe nur an, wenn Variable openMenu = true -->
    <div class="close-container">
        <img src="assets/img/logo2.png">
        <div>
            <span (click)="closeMenu()">X</span>
            <!-- setzt Variable openMenu wieder auf false -->
        </div>
    </div>

    <div class="link-container">
        <span (click)="showAbout()" translate>ÜBER MICH</span>
        <span (click)="showSkills()" translate>FÄHIGKEITEN</span>
        <span (click)="showProjects()" translate>PROJEKTE</span>
        <span (click)="showContact()" translate>KONTAKT</span>
    </div>

    <div class="language">
        <div class="lang-link-de"><a (click)="translation.use('de')">DE</a></div>
        <span>|</span>
        <div class="lang-link-eng"><a (click)="translation.use('en')">EN</a></div>
    </div>
</div>