<div class="bg-container" id="skills">
    <div class="title-container">
        <div translate>Fähigkeiten 
            <span translate>Ich durfte bereits mit vielen Konzepten Erfahrungen sammeln.</span>
        </div>
    </div>

    <div class="skills-container">
        <div class="img-container">
            <div *ngFor=" let image of firstRow; let i = index" (mouseover)="showTitle(i)" (mouseleave)="showImg()">
                <img src="{{image.source}}" [class.d-none]="hoveredIndex === i">
                <div class="title-overlay d-none" [class.show]="hoveredIndex === i">{{image.title}}</div>
            </div>
        </div>

        <div class="img-container">
            <div *ngFor=" let image of secondRow; let i = index" (mouseover)="showTitleSec(i)" (mouseleave)="showImg()">
                <img src="{{image.source}}" [class.d-none]="hoveredIndexSec === i">
                <div class="title-overlay d-none" [class.show]="hoveredIndexSec === i">{{image.title}}</div>
            </div>
        </div>
    </div>
</div>