<div class="bg-container" id="skills">
    <div class="title-container">
        <div translate>Fähigkeiten 
            <span translate>Ich durfte bereits mit vielen Konzepten Erfahrungen sammeln.</span>
        </div>
        <!-- <h2 translate>Fähigkeiten</h2>
        <span translate>Ich durfte bereits mit vielen Konzepten Erfahrungen sammeln.</span> -->
    </div>

    <!-- <div class="skills-container">
        <img src="assets/img/skills/angular.png">
        <img src="assets/img/skills/ts.png">
        <img src="assets/img/skills/js.png">
        <img src="assets/img/skills/html.png">
        <img src="assets/img/skills/scrum.png">
        <img src="assets/img/skills/firebase.png">
        <img src="assets/img/skills/git.png">
        <img src="assets/img/skills/css.png">
        <img src="assets/img/skills/api.png">
        <img src="assets/img/skills/md.png">
    </div> -->

    <div class="skills-container">
        <div class="img-container">
            <!-- <div *ngFor=" let image of firstRow; let i = index">
                <img src="{{image.source}}" (mouseover)="title{i}=true" [class.d-none]="title{i}">
                <div class="title-overlay d-none"></div>
            </div> -->
            
            <img src="assets/img/skills/angular.png" (mouseover)="titleOne=true" (mouseleave)="titleOne=false" [class.d-none]="titleOne">
            <div class="title-overlay d-none" [class.show]="titleOne"></div>

            <img src="assets/img/skills/js.png">

            <img src="assets/img/skills/css.png">
            
            <img src="assets/img/skills/html.png">

            <img src="assets/img/skills/chatgpt.png">

            <img src="assets/img/skills/git.png">

            <img src="assets/img/skills/scrum.png">

            <img src="assets/img/skills/md.png">
        </div>

        <div class="img-container">
            <img src="assets/img/skills/py.png">
            <img src="assets/img/skills/dj.png">
            <img src="assets/img/skills/dr.png">
            <img src="assets/img/skills/cloud.png">
            <img src="assets/img/skills/sql.png">
            <img src="assets/img/skills/postgresql.png">
            <img src="assets/img/skills/firebase.png">
            <img src="assets/img/skills/redis.png">
        </div>
    </div>
</div>