.bg-container {
    background-color: rgba(254, 227, 131, 1);
    width: 100%;
    height: 630px;
    display: flex;
    flex-direction: column;

    @media (max-width: 1020px) {
        height: 670px;
    }

    @media (max-width: 900px) {
        height: 630px;
    }

    h2 {
        padding-left: 115px;
        padding-right: 115px;
        margin-top: 80px;

        span {
            font-weight: 400;
            font-size: 18px;
            letter-spacing: 0.4px;
            color: rgba(109, 109, 109, 1);

            @media (max-width: 1200px) {
                font-size: 16px;
            }

            @media (max-width: 1100px) {
                font-size: 14px;
            }

            // @media (max-width: 1020px) {
            //     display: none;
            // }
        }
    }
}

// .subtitle {
//     display: none;
//     padding-left: 115px;
//     padding-right: 115px;
//     margin-top: -50px;
//     margin-bottom: 70px;
//     font-weight: 400;
//     letter-spacing: 0.4px;
//     color:rgba(109, 109, 109, 1);
//     font-size: 14px;

//     @media (max-width: 1020px) {
//         display: block;
//     }
// }

.skills-container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 520px;
    padding-right: 520px;
    // background-color: aqua;

    img {
        width: 70px;
        height: 75px;
        object-fit: contain;
        margin-right: 100px;
        margin-left: 100px;
        margin-bottom: 100px;

        &:hover {
            transform: scale(1.2);
        }

        @media (max-width: 1330px) {
            margin-right: 50px;
            margin-left: 50px;
        }

        @media (max-width: 1190px) {
            margin-bottom: 50px;
        }

        @media (max-width: 1050px) {
            margin-right: 25px;
            margin-left: 25px;
        }
    }

    @media (max-width: 1890px) {
        padding-left: 440px;
        padding-right: 440px;
    }

    @media (max-width: 1730px) {
        padding-left: 360px;
        padding-right: 360px;
    }

    @media (max-width: 1570px) {
        padding-left: 280px;
        padding-right: 280px;
    }

    @media (max-width: 1410px) {
        padding-left: 270px;
        padding-right: 270px;
    }

    @media (max-width: 1390px) {
        padding-left: 260px;
        padding-right: 260px;
    }

    @media (max-width: 1370px) {
        padding-left: 250px;
        padding-right: 250px;
    }

    @media (max-width: 1350px) {
        padding-left: 240px;
        padding-right: 240px;
    }

    @media (max-width: 1330px) {
        padding-left: 230px;
        padding-right: 230px;
    }

    @media (max-width: 1310px) {
        padding-left: 220px;
        padding-right: 220px;
    }

    @media (max-width: 1290px) {
        padding-left: 200px;
        padding-right: 200px;
    }

    @media (max-width: 1270px) {
        padding-left: 200px;
        padding-right: 200px;
    }

    @media (max-width: 1250px) {
        padding-left: 190px;
        padding-right: 190px;
    }

    @media (max-width: 1230px) {
        padding-left: 180px;
        padding-right: 180px;
    }

    @media (max-width: 1210px) {
        padding-left: 170px;
        padding-right: 170px;
    }

    @media (max-width: 1190px) {
        padding-left: 160px;
        padding-right: 160px;
    }

    @media (max-width: 1170px) {
        padding-left: 150px;
        padding-right: 150px;
    }

    @media (max-width: 1150px) {
        padding-left: 140px;
        padding-right: 140px;
    }

    @media (max-width: 1130px) {
        padding-left: 130px;
        padding-right: 130px;
    }

    @media (max-width: 1110px) {
        padding-left: 120px;
        padding-right: 120px;
    }

    @media (max-width: 1090px) {
        padding-left: 110px;
        padding-right: 110px;
    }

    // @media (max-width: 1070px) {
    //     padding-left: 100px;
    //     padding-right: 100px;
    // }

    // @media (max-width: 1050px) {
    //     padding-left: 180px;
    //     padding-right: 180px;
    // }

    // @media (max-width: 960px) {
    //     padding-left: 170px;
    //     padding-right: 170px;
    // }

    // @media (max-width: 940px) {
    //     padding-left: 160px;
    //     padding-right: 160px;
    // }

    // @media (max-width: 920px) {
    //     padding-left: 150px;
    //     padding-right: 150px;
    // }

    // @media (max-width: 900px) {
    //     padding-left: 140px;
    //     padding-right: 140px;
    //     margin-top: 50px;
    // }

    // @media (max-width: 880px) {
    //     padding-left: 130px;
    //     padding-right: 130px;
    // }

    // @media (max-width: 860px) {
    //     padding-left: 75px;
    //     padding-right: 75px;
    // }
}