<div class="bg-container" id="skills">
    <h2 translate>Fähigkeiten <span translate>Ich durfte bereits mit vielen Konzepten Erfahrungen sammeln.</span></h2>

    <div class="skills-container">
        <img src="assets/img/skills/angular.png">
        <img src="assets/img/skills/ts.png">
        <img src="assets/img/skills/js.png">
        <img src="assets/img/skills/html.png">
        <img src="assets/img/skills/scrum.png">
        <img src="assets/img/skills/firebase.png">
        <img src="assets/img/skills/git.png">
        <img src="assets/img/skills/css.png">
        <img src="assets/img/skills/api.png">
        <img src="assets/img/skills/md.png">
    </div>
</div>
