<div class='impressum'>
    <h2>Impressum</h2>

    <p>Angaben gemäß § 5 TMG</p>

    <p>Sarah Lucia Zimmermann-Schmutzler <br>
        Reinhold-Becker-Straße 13<br>
        01277 Dresden <br>
    </p>

    <p> <strong>Vertreten durch: </strong><br>
        Sarah Lucia Zimmermann-Schmutzler<br>
    </p>

    <p><strong>Kontakt:</strong> <br>
        Telefon: &#43;49 017657751908<br>
        E-Mail: <a href='mailto:sarah.zimmermannschmutzler@gmail.com'>sarah.zimmermannschmutzler@gmail.com</a>
    </p>

    <p>
        <strong>Haftungsausschluss: Datenschutz</strong><br><br>
        Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren
        Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies,
        soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an
        Dritte weitergegeben. <br>
        Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail)
        Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht
        möglich. <br>
        Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von
        nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich widersprochen.
        Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von
        Werbeinformationen, etwa durch Spam-Mails, vor.<br>
    </p>
    

    Website Impressum erstellt durch <a href="https://www.impressum-generator.de">impressum-generator.de</a> von der <a
        href="https://www.kanzlei-hasselbach.de/" rel="nofollow">Kanzlei Hasselbach</a>
</div>
