<div class="start-container">
    <div class="introduction-container">
        <h2 translate>Hallo <br> Ich heiße Sarah <br> Zimmermann-Schmutzler</h2>
    </div>

    <div class="social-media-container">
        <a href="https://de.linkedin.com/in/sarah-lucia-zimmermann-schmutzler-322a20251" target="_blank">LI.</a>
        <a href="https://www.xing.com/profile/SarahLucia_ZimmermannSchmutzler" target="_blank">XI.</a>
        <a href="https://github.com/SarahZimmermann-Schmutzler" target="_blank">GIT.</a>
    </div>

    <div class="btn-container">
        <button (click)="toContact()" translate>NACHRICHT</button>
    </div>
</div>
