.bg-container {
    background-color: rgba(254, 227, 131, 1);
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;

    @media (max-width: 792px) {
        min-height: 425px;
    }

    @media (max-width: 590px) {
        min-height: 350px;
    }

    @media (max-width: 436px) {
        min-height: 300px;
    }

    // @media (max-width: 371px) {
    //     min-height: 655px;
    // }

    h2 {
        padding-left: 80px;
        padding-right: 80px;
        margin-top: 30px;
        margin-bottom: 0;
        cursor: default;

        @media (max-width: 700px) {
            padding-left: 50px;
            padding-right: 50px;
            font-size: 46px;
        }

        @media (max-width: 436px) {
            padding-left: 20px;
            padding-right: 20px;
            font-size: 32px;
        }

        &:hover {
            color: #f4f1e8;
        }
    }
}

.subtitle {
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 45px;
    font-weight: 400;
    letter-spacing: 0.4px;
    color: rgba(109, 109, 109, 1);
    font-size: 14px;

    @media (max-width: 700px) {
        padding-left: 50px;
        padding-right: 50px;
    }

    @media (max-width: 436px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.skills-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    height: 75%;
    // background-color: aqua;

    @media (max-width: 700px) {
        padding-left: 50px;
        padding-right: 50px;
    }

    @media (max-width: 436px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.img-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 30px;
    cursor: default;
    // background-color: yellow;

    @media(max-width: 590px) {
        margin-bottom: 20px;
        margin-top: 15px;
    }

    @media (max-width: 436px) {
        margin-top: 0;
    }

    img {
        width: 80px;
        height: 80px;
        object-fit: contain;

        @media(max-width: 860px) {
            width: 60px;
            height: 60px;
            object-fit: contain;
        }

        @media(max-width: 590px) {
            width: 40px;
            height: 40px;
            object-fit: contain;
        }
    }
}

.title-overlay {
    width: 80px;
    height: 80px;
    background-color: #FFFCF3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(109, 109, 109, 1);
    text-align: center;
    font-size: 13px;

    @media(max-width: 860px) {
        width: 60px;
        height: 60px;
        font-size: 10px;
    }

    @media(max-width: 590px) {
        width: 40px;
        height: 40px;
        font-size: 10px;
    }
}

.d-none {
    display: none;
}

.show {
    display: flex;
}