<div class="img-container">
    <img src="assets/img/Sarah.JPG">
</div>

<div class="text-container">
    <span translate>Hello</span>
    <span translate>I'm Sarah</span>
    <span translate>Zimmermann-Schmutzler</span>
</div>

<div class="social-media-container">
    <a href="https://de.linkedin.com/in/sarah-lucia-zimmermann-schmutzler-322a20251" target="_blank">LI.</a>
    <a href="https://www.xing.com/profile/SarahLucia_ZimmermannSchmutzler" target="_blank">XI.</a>
    <a href="https://github.com/SarahZimmermann-Schmutzler" target="_blank">GIT.</a>
</div>

<div class="btn-container">
    <button (click)="toContactMobile()" translate>SEND A MESSAGE</button>
</div>